<!DOCTYPE html>
<html>

<head>
    <title>Convert Legislation Files</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Transform Legislation into Machine Readable Rules as Code</h1>
    <p>Upload TXT, PDF, DOCX, and RTF to convert them<br><b>TXT is preferred!</b></p>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="button-label">Select Legislation Files</label>
        <input id="file-upload" type="file" onchange="onFileChanged(event)" name="files" multiple
            accept=".txt,.pdf,.docx,.rtf"><br>
        <input type="submit" value="Upload" style="display: none;"> <!-- Hide the default submit button -->
    </form>
    <div id="drop-area" ondragover="event.preventDefault()" ondrop="handleDrop(event)">
        <p>or drop legislation files here</p>
    </div>
    <div id="bottom-panel">
        <div class="bottom-div" id="list-area">
            <p><b>Legislation uploaded and ready to be converted:</b></p>
            <ul id="file-list"></ul>
        </div>
        <div class="bottom-div">
            <p><b>Click the Button below to Generate Business Rules</b></p>
            <div>
                <div id="genandload">
                    <label id="generate-rules" class="button-label">Generate!</label>
                    <img id='throbber' src="{{ url_for('static', filename='throbber_13.gif') }}" alt="Loading..."
                        id="throbber">
                </div>
                <a download="output/out.json" style="display: none; background-color: #4a7245;" id="download-rules"
                    class="button-label" href="/download">Download .json</a>
                <label style="display: none; background-color: #551515;" id="view-ai-log" class="button-label">Review
                    LLM Chat</label>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>